VITE_GOOGLE_CLIENT_ID=

# Local Development API URL (default Laravel port)
# VITE_API_URL=http://localhost:8000/api

# Production API URL (Update this when deploying)
# VITE_API_URL=https://api.jnureddrop.com/api
